<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" 			value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value=" %d{dd MMM yyyy HH:mm:ss,SSS} %-5p [%t] (%c{1}) %m%n"/>
        </layout>
    </appender>

    <appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
        <param name="BufferSize" value="256"/>
        <appender-ref ref="CONSOLE"/>
    </appender>

    <root>
        <priority value="INFO"/>
        <appender-ref ref="ASYNC"/>
    </root>

</log4j:configuration>